<!DOCTYPE html>
<html>
<head>
    <title>页面</title>
    <link href="/script/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/script/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/script/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/script/MiniUI/boot.js" type="text/javascript"></script>
    <style>
        .slant {
            background-image: url(/images/slant.jpg);
            background-size: 10px 10px;
            /*color:#ddd*/
        }

        .tomid {
            width: 30px;
            text-align: center;
            height: 52px;
            vertical-align: middle;
        }

        .table {
            font: 20px 楷体;
        }
    </style>

</head>
<body>
    <form id="mainForm" class="form-horizontal" role="form" style="width: 600px; margin: 0 auto; padding-top: 10mm;">

        <h1 id="word" class="text-center" style="font-weight: bold;"></h1>
        <h3 class="text-center" style="display:none">[lian'gaːo] 土普 标普 </h3>

        <table class="table">
            <tr class="yes">
                <td class="tomid slant" style="vertical-align: middle; border: 1px solid #ddd">1.</td>
                <td style="vertical-align: middle; border: 1px solid #ddd">Yes!</td>
            </tr>
            <tr class="no">
                <td class="tomid slant" style="vertical-align: middle; border: 1px solid #ddd">2.</td>
                <td style="vertical-align: middle; border: 1px solid #ddd">No...</td>
            </tr>
        </table>
    </form>
</body>
</html>


<script type="text/javascript">

    $(document).ready(function () {
        //鼠标放置显示变化---------------------------------------------------begin
        $(".yes").mouseover(function () {
            $(".yes").css("background-color", "#209e85");
            $(".yes").css("color", "#fff");
            $(".yes").css("cursor", "pointer");
            $(".slant:eq(0)").css("background-image", "none");
        });
        $(".yes").mouseout(function () {
            $(".yes").css("background-color", "transparent");
            $(".yes").css("color", "#000");
            $(".slant").css("background-image", "url(/images/slant.jpg)");
        });

        $(".no").mouseover(function () {
            $(".no").css("background-color", "#f4434b");
            $(".no").css("color", "#fff");
            $(".no").css("cursor", "pointer");
            $(".slant:eq(1)").css("background-image", "none");
        });
        $(".no").mouseout(function () {
            $(".no").css("background-color", "transparent");
            $(".no").css("color", "#000");
            $(".slant").css("background-image", "url(/images/slant.jpg)");
        });
        //鼠标放置显示变化---------------------------------------------------end
        getword();

        function getword() {
            var username = "zhusheng";
            $.ajax({
                data: { username: username, fn: "getword" },
                url: "/modules/LW.Systems.Web/Ajax/wordhandler.ashx",
                type: "post",
                success: function (text) {
                    var d = mini.decode(text);
                    $("#word").html(d.data[0].WordE);
                }
            });
        }


    });

</script>
