<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="SystemDB" value="server=192.168.100.177\ERPSERVER;database=SystemDB;uid=sa;pwd=123!@#QAZ" />
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1" />
    <add key="BASEDIRECTORY" value="C:\An" />
    <!--上传服务器路径-->
    <add key="uploadserverurl" value="http://pic2.luyuan.cn/" />
    <add key="EncryptKey" value="1232xxxx" />
    <add key="Normurl" value="http://ns.normstar.net/luyuan/test.php?" />
    <add key="Normurlteststatus" value="http://ns.normstar.net/ceping/luyuan/testStatus.php?" />
    <add key="DBConStr_LYSales" value="server=192.168.0.6;database=lydb;uid=sa;pwd=HhXx!@#$%TtXs!QAZ" />
    <!--报表服务 begin-->
    <add key="RSUri" value="http://192.168.100.177/reportserver" />
    <add key="RSLoginName" value="administrator" />
    <add key="RSLoginPwd" value="123!@#QAZ" />
    <add key="RSDomain" value="WIN-GVQIB2RIF1N" />
    <add key="UnitName" value="绿源集团" />
    <!--报表服务 end-->
    <!-- 库存正负值开关 0允许输入负数1不允许-->
    <add key="url_accunt" value="0" />
    <!-- 实发数量正负值开关 0允许输入负数1不允许-->
    <add key="url_negative" value="0" />
    <!-- 库存数量正负值开关 0允许负库存1不允许-->
    <add key="url_whnegative" value="1" />
    <add key="ExcelPath" value="\temp\" />

    <add key="BASEDIRECTORY" value="E:\hr\An\An\" />
    <!--无图片时显示的默认图片-->
    <add key="DefaultProductImgPath" value="\images\prod.png" />
    <!--默认账套-->
    <add key="DefaultSetsOfBooks" value="003" />
    
     <add key="PaymentPercent" value="100" />

    <add key="YiChengServiceAmount" value="100" />

    <add key="nvelocity" value="E:\soho\LuyuanSoft\bin\nvelocity.properties" />
    <add key="nvelocity_directive" value="E:\soho\LuyuanSoft\bin\nvelocity_directive.properties" />
  
  
    <!-- 计划订单倒水方式提交开关 0是老式倒水法,正的.1是新式倒水法,反的-->
    <add key="dsfs" value="1" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30000" />
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" />
    <identity impersonate="true" />
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
            <add name=".do" path="*.do" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
            <add name="do" path="*.do" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".vm" mimeType="text/xml" />
        </staticContent>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>

